<li class="nav-item mt-2 mx-0 mx-lg-1 msgTag" style="border-style: groove;border-radius:12px;font-size:16px;padding:5px;" id={{id}}>
    <a class="navbar-toggler nav-link py-2 px-0 px-lg-1 rounded js-scroll-trigger" style="font-size: 17px" id="{{id}}">{{senderName}}</a>
    <a class="navbar-toggler nav-link py-2 px-0 px-lg-1 rounded js-scroll-trigger" style="font-size: 17px">{{subject}}</a>
    <a class="navbar-toggler nav-link py-2 px-0 px-lg-1 rounded js-scroll-trigger" style="font-size: 12px">{{createdAt}}</a>
</li>