<!-- Area Chart -->
<div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-info text-white">
            <h6 class="m-0 font-weight-bold">Customer Information</h6>
            <div>
                <i id="customerCardBtn" aria-label="edit" class="fa fa-edit"></i>
                <i id="saveBtn" aria-label="edit" class="fa fa-save mr-4" style="display:none;"></i>
                <i id="escBtn" aria-label="edit" class="fa fa-times" style="display:none;"></i>

            </div>
            {{!-- <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div> --}}
        </div>
        <!-- Card Body -->
        <div class="card-body text-dark" style="min-height:424px;">

            <div id="editCustomerId" style="display:none;">{{CustomerId}}</div>
            <div id="customerCard">
                <h4 class="card-title">Order #<span id="orderID">{{id}}</span> {{#if paid}}
                    <span class="text-danger font-weight-bold ml-4">PAID</span>
                    {{/if}}</h4>
                <h5 class="card-title"><span id="fN">{{firstName}}</span><span id="lN"> {{lastName}} </span></h5>
                <div class="mt-3">
                    <a href="mailto:{{email}}" class="text-info font-weight-bold" id="custEmail">{{email}}</a>
                </div>
                <div class="mt-2">
                    <a href="tel:{{tel}}" class="font-weight-bold text-info" id="custTel">{{tel}}</a>
                </div>
                <div class="mt-3" id="caddr1">{{addr1}}</div>
                <div id="caddr2">{{addr2}}</div>
                <div><span id="cCity">{{city}}</span>, <span id="cState">{{state}}</span> <span id="cZip">{{zip}}</span>
                </div>
            </div>

            <div class="mt-3" id="buttonDiv">
                <div class="d-flex justify-content-center">
                    <p class="font-weight-bold mt-2">ACTIONS:</p>
                </div>
                <div class="row d-flex justify-content-around">
                    <div id="invoiceDiv">
                        <a id="invoiceBtn" href="/invoice/{{id}}" target="_blank"><button
                                class="btn btn-secondary btn-circle btn-md" aria-label="invoice"><i
                                    class="fas fa-3x fa-file-invoice-dollar"></i></button></a>
                    </div>
                    <button class="photo-modal-show btn btn-circle btn-md" style="background-color:#BD34C7;"
                        data-toggle="modal" data-target="#photoModal" aria-label="view photo"><i
                            class="fas fa-3x fa-image text-white"></i></button>

                    {{#if received}}
                    <div id="updateInProgress">
                        <button class="btn btn-success btn-circle btn-md" aria-label="in progress"><i
                                class="fas fa-3x fa-wrench"></i></button>
                    </div>
                    <div id="updateWaiting">
                        <button class="btn btn-warning btn-circle btn-md" aria-label="waiting"><i
                                class="fas fa-3x fa-pause"></i></button>
                    </div>
                    <div id="delete">
                        <button class="btn btn-danger btn-circle btn-md"><i class="fas fa-3x fa-times"
                                aria-label="delete"></i></button></button>
                    </div>
                    {{/if}}
                    {{#if inProgress}}
                    <div id="updateWaiting">
                        <button class="btn btn-warning btn-circle btn-md" aria-label="waiting"><i
                                class="fas fa-3x fa-pause"></i></button>
                    </div>
                    <div id="updateComplete">
                        <button class="btn btn-success btn-circle btn-md" aria-label="complete"><i
                                class="fas fa-3x fa-check"></i></button>
                    </div>
                    {{/if}}
                    {{#if waiting}}
                    <div id="updateInProgress">
                        <button class="btn btn-success btn-circle btn-md" aria-label="in progress"><i
                                class="fas fa-3x fa-wrench"></i></button>
                    </div>
                    {{/if}}
                    {{#if complete}}
                    <div id="markPaid">
                        <button class="btn btn-success btn-circle btn-md" aria-label="paid"><i
                                class="fas fa-3x fa-dollar-sign"></i></button>
                    </div>
                    {{/if}}
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Pie Chart -->
<div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-info text-white">
            <h6 class="m-0 font-weight-bold">Order Information</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">

            <div>
                <form id="updateIssue">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="labor hours">Labor Hours</label>
                            <input type="text" class="" id="hoursU" value="{{hours}}"></input>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="parts price">Parts Price</label>
                            <input type="text" class="" id="partsPriceU" value="{{partsPrice}}"></input>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="parts needed">Parts Needed</label>
                            <textarea type="text" class="extendedOne" id="partsNeededU">{{partsNeeded}}</textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="notes">Notes</label>
                           <textarea type="text" class="extendedOne" id="issueU">{{issue}}</textarea>
                        </div>
                    </div>
                    <div class="text-center small">
                        <button type="submit" class="btn btn-dark btn-circle btn-md" aria-label="update issue"><i
                                class="fas fa-3x fa-save"></i></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="photoViewer" class="col-lg-12" style="display: none;">
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        <div class="row">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            {{#if photo}}
            <img src="{{photo}}" alt="auto repair" class="img-fluid" id="photo">
            {{/if}}
        </div>
    </div>
</div>