<tbody class="table-light">
	<tr>
		<th scope="row">{{orderNum}}</th>
		<td>{{firstName}}</td>
		<td>{{lastName}}</td>
		<td><a href="tel:{{tel}}" class="text-info">{{tel}}</a></td>
		<td>{{issue}}</td>
		<td>
			{{#if received}}
			<button class="inprogress btn btn-success btn-circle btn-md" data-id="{{id}}">W.I.P.</button>
			<button class="waiting btn btn-warning btn-circle btn-md" data-id="{{id}}">HOLD</button>
			<button class="delete btn btn-danger btn-circle btn-md" data-id="{{this.id}}">X</button>
			{{/if}}
			{{#if inProgress}}
			<button class="complete btn btn-success btn-circle btn-md" data-id="{{id}}">DONE</button>
			<button class="waiting btn btn-warning btn-circle btn-md" data-id="{{id}}">HOLD</button>
			<button class="delete btn btn-danger btn-circle btn-md" data-id="{{this.id}}">X</button>
			{{/if}}
			{{#if waiting}}
			<button class="inprogress btn btn-success btn-circle btn-md" data-id="{{id}}">W.I.P.</button>
			<button class="delete btn btn-danger btn-circle btn-md" data-id="{{this.id}}">X</button>
			{{/if}}
			{{#if complete}}
			<button class="delete btn btn-success btn-circle btn-md" data-id="{{this.id}}">$</button>
			{{/if}}
		</td>
	</tr>
</tbody>