<tbody class="table-light shadow">
	<tr>
		<th scope="row"><a href="mailto:{{email}}" class="text-bold text-dark">{{orderNum}}</a></th>
		<td>{{firstName}}</td>
		<td>{{lastName}}</td>
		<td><a href="tel:{{tel}}" class="text-info">{{tel}}</a></td>
		<td>{{year}} {{make}} {{model}}</td>
		<td><button class="btn btn-success btn-circle btn-md photo-modal-show" data-toggle="modal" data-target="#photoModal" data-id="{{orderNum}}">
				<i class="fas fa-2x fa-image"></i>
			</button></td>
		<!-- Modal Button -->
		<td><button class="btn btn-info btn-circle btn-md info-modal-show" data-toggle="modal" data-target="#infoModal" data-id="{{orderNum}}">
				<i class="fas fa-2x fa-question"></i>
			</button></td>
		

			<td>
				{{#if received}}
				<button class="inprogress btn btn-success btn-circle btn-md" data-id="{{id}}"><i
						class="fas fa-2x fa-wrench"></i></button>
				<button class="waiting btn btn-warning btn-circle btn-md" data-id="{{id}}"><i
						class="fas fa-2x fa-pause"></i></button>
				<button class="delete btn btn-danger btn-circle btn-md" data-id="{{this.id}}"><i
						class="fas fa-2x fa-times"></i></button>
				{{/if}}
				{{#if inProgress}}
				<button class="complete btn btn-success btn-circle btn-md" data-id="{{id}}"><i
						class="fas fa-2x fa-check"></i></button>
				<button class="waiting btn btn-warning btn-circle btn-md" data-id="{{id}}"><i
						class="fas fa-2x fa-pause"></i></button>
				<button class="delete btn btn-danger btn-circle btn-md" data-id="{{this.id}}"><i
						class="fas fa-2x fa-times"></i></button>
				{{/if}}
				{{#if waiting}}
				<button class="inprogress btn btn-success btn-circle btn-md" data-id="{{id}}"><i
						class="fas fa-2x fa-wrench"></i></button>
				<button class="delete btn btn-danger btn-circle btn-md" data-id="{{this.id}}"><i
						class="fas fa-2x fa-times"></i></button>
				{{/if}}
				{{#if complete}}
				<button class="delete btn btn-success btn-circle btn-md" data-id="{{this.id}}"><i
						class="fas fa-2x fa-dollar-sign"></i></button>
				{{/if}}
			</td>
	</tr>
</tbody>